// Custom styles.
// 主页文章添加阴影效果
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
.post-copyright {
    margin-top: 40px;
    padding: 8px 16px;
    border-left: 3px solid #ff1700;
    background-color: #f9f9f9;
    list-style: none;
}
